body{
    background-color: #b5e3f4;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.todo-wrapper{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    width: 600px;
    border: 1px solid black;
}

.todo-wrapper h2{
    margin: 0;
}

.todo-wrapper p{
    font-style: italic;
    color: gray;
    margin: 5px 0;
}

.todo-wrapper ol{
    margin: 20px 0;
}

.todo-wrapper ol li{
    margin: 5px 0;
    padding: 3px;
    transition: all 0.5s ease-out;
}

.todo-wrapper form{
    display: inline-block;
}

.todo-wrapper input{
    padding: 3px 5px;
    width: 400px;
}

.todo-wrapper .pretty-button:hover{
    cursor: pointer;
    opacity: 0.7;
}

.todo-wrapper .pretty-button{
    color: white;
    margin: 10px 2px;
    padding: 5px 20px;
    background-color: #0089d9;
    border: none;
    border-radius: 5px;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#control-wrapper {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.todo-wrapper #clear-button {
    background-color: #49B749;
}

.todo-wrapper #empty-button {
    background-color: red;
}

.todo-wrapper #save-button {
    background-color: #49B749;
}

.todo-wrapper .completed {
    text-decoration: line-through;
    color: #666;
}

.todo-wrapper ol li:nth-child(even) {
    background: #f0efef;
}